/* All */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F0EFEA;
}

html{
    scroll-behavior: smooth;
}

/* Header */
#Cabecalho{
    background-image: linear-gradient(to right, rgb(143, 0, 0), rgb(173, 0, 0));
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 97px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    text-align: left;
    align-items: center;
}

.navbar{
    visibility: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav-itens{
    cursor: pointer;
    padding-top: 65px;
    margin: 0px auto;
}

.nav-itens ul{
    width: 200px;
}

.nav-itens li{
    width: 200px;
}

.nav-itens p{
    color: #FFF;
    font-weight: bold;
}

.nav-itens i{
    padding-left: 5px;
}

.nav-itens:hover p{
    color: #000;
    transition: all .5s ease;
}

.nav-itens:hover i{
    color: #000;
    transition: all .5s ease;
}

/* Esconder e Mostrar elementos*/
.nav-itens:hover .nav-sub-itens{
    display: grid;
    position: absolute;
    left: auto;
    top: 100%;
    background-color: #FFF;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFF;
    border-width: 0px;
}


.nav-sub-itens{
    display: none;
}

.nav-sub-itens a{
    align-items: left;
    text-align: left;
    font-weight: bold;
    padding: 0;
}

.nav-sub-itens ul li{
    padding: 1rem;
    align-items: center;
    text-align: left;
    font-weight: bold;
    color: #000;
    transition: all .5s ease;
}

.nav-sub-itens li:hover{
    background-color: rgb(153, 0, 0);
    color:#FFF;
    transition: all .5s ease;
}

/* Options */
.header-options{
    margin-left: auto;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 97px;
}

.option-itens{
    cursor: pointer;
    padding-top: 65px;
    height: 97px;
}

.option-itens ul{
    width: 100px;
}

.option-itens li{
    width: 100px;
}

.option-itens p{
    color: #FFF;
    font-weight: bold;
}

.option-itens i{
    padding-left: 5px;
}

.option-itens:hover p{
    color: #000;
    transition: all .5s ease;
}

.option-itens:hover i{
    color: #000;
    transition: all .5s ease;
}

/* Esconder e Mostrar elementos*/
.option-itens:hover .option-sub-itens{
    display: grid;
    position: absolute;
    left: auto;
    top: 100%;
    background-color: #FFF;
    border-style: solid;
    border-radius: 5px;
    border-color: #FFF;
    border-width: 0px;
}


.option-sub-itens{
    display: none;
}

.option-sub-itens a{
    align-items: right;
    text-align: right;
    font-weight: bold;
    padding: 0;
}

.option-sub-itens ul li{
    padding: 1rem;
    align-items: center;
    text-align: right;
    font-weight: bold;
    color: #000;
    transition: all .5s ease;
}

.option-sub-itens li:hover{
    background-color: #990000;
    color:#FFF;
    transition: all .5s ease;
}
/* Header */

/* Forms */
.login-form{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}


.login-form form{
    border-width: 4px;
    border-style: solid;
    background-color: #FFF;
    border-color: rgb(201, 201, 201);
    border-radius: 10px;
    text-align: left;
    display: grid;
}

.lbl_user{
    padding-top: 20px;
    padding-left: 50px;
}

.lbl_user label{
    font-size: 16px;
    padding-bottom: 5px;
}

.ipt_user{
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.ipt_user input{
    padding-top: 7px;
    padding-left: 3px;
    padding-bottom: 7px;
    width: 100%;
    align-items: center;
}

.lbl_pwd{
    padding-left: 50px;
}

.lbl_pwd label{
    font-size: 16px;
    padding-bottom: 5px;
}

.ipt_pwd{
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 50px;
}

.ipt_pwd input{
    padding-top: 7px;
    padding-left: 3px;
    padding-bottom: 7px;
    width: 100%;
    align-items: center;
}

.btn_entrar{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.btn_entrar input{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: revert;
    height: 45px;
    width: 100%;
    background-color: #0da000;
    font-size: 22px;
    font-weight: bolder;
    line-height: 45px;
    text-align: center;
    align-items: center;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    transition: all .5s ease;
}

.btn_entrar input:hover{
    background-color: #0a7500;
    transition: all .5s ease;
}

.esq_senha{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.esq_senha a{
    color: #2f00c9;
    transition: all .5s ease;
}

.esq_senha a:hover{
    text-decoration: underline;
    transition: all .5s ease;
}

.linha_01{
    padding-left: 50px;
    padding-right: 50px;
}

.btn_ajuda{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn_ajuda input{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: revert;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0047D5;
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    transition: all .5s ease;
}

.btn_ajuda input:hover{
    background-color: #002369;
    transition: all .5s ease;
}

/* Logo CPS */
.logo-cps img{
    position: absolute;
    width: 180px;
    height: 120px;
    bottom: 10px;
    right: 20px;
}

/* Fim pág */
#Contato {
    position: relative;
    display: grid;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 3rem;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #000000;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #555;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.icons{
    display: flex;
}

.social_icon a{
    padding-right: 1rem;
    cursor: pointer;
    display: inline-flex;
    font-size: 36px;
    color: #000;
    transition: all .5s ease;
}

.social_icon a:hover{
    transform: translateY(-5px);
    font-size: 48px;
    transition: all .5s ease;
}

.vesti-etec a{
    transition: all .5s ease;
}

.vesti-etec a:hover{
    color: red;
    transition: all .5s ease;
}

.vesti-fatec a:hover{
    color: rgb(0, 110, 255);
    transition: all .5s ease;
}

.web-sai a:hover{
    color: rgb(255, 123, 0);
    transition: all .5s ease;
}

.inova-cps a:hover{
    color: rgb(0, 255, 136);
    transition: all .5s ease;
}

.email-insti a:hover{
    color: rgb(17, 0, 255);
    transition: all .5s ease;
}

.email a:hover{
    color: rgb(255, 0, 149);
    transition: all .5s ease;
}

.suporte a:hover{
    color: indigo;
    transition: all .5s ease;
}