* {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: var(--bg-color) #fff;
    --text-color: #000000;
    --main-color: #FF0000; /* Cor principal (vermelho) */
    --other-color: #ffffff; /* Outra cor (branco) */
    --h1-font: 4rem;
    --p-font: 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffe9e9;
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: var(--main-color);
}

header .icon-header img {
    padding-top: 7px;
    padding-left: 5px;
}

/* Estilos para os selects */
.navbar-header select {
    background-color: transparent;
    color: #fff;
    border: none;
    appearance: none;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px; /* Espaçamento entre os selects */
}

/* Estilo para o hover do select */
.navbar-header select:hover {
    cursor: pointer;
}

/* Estilo para as opções do select */
.navbar-header option {
    background-color: var(--other-color); /* Cor de fundo das opções do select */
    color: var(--main-color); /* Cor do texto das opções do select */
}

/* CSS dos selects */
.select-container {
    display: flex;
    align-items: center;
}

.select-wrapper {
    position: relative;
    margin-left: 10px;
}

.select-wrapper:hover select {
    visibility: visible;
}

select {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

select option {
    background-color: #ff0000;
    color: white;
}

select {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}


/* Estilo para o menu-container */
.menu-container {
    display: flex;
}

/* Estilo para as opções do menu */
.menu-options {
    display: none;
    position: absolute;
    background-color: var(--other-color); /* Cor de fundo das opções do menu */
    padding: 10px;
}

.menu-options a {
    display: block;
    color: var(--main-color); /* Cor do texto das opções do menu */
    text-decoration: none;
    margin-top: 5px;
}

/* Mostrar as opções quando o mouse estiver sobre o menu */
#menu:hover + .menu-options {
    display: block;
}

/* Estilo para o restante do conteúdo */
.home {
    position: relative;
    height: 100vh;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
